<div class="container">
  <section class="row">
    <div class="col-md-6">
      <span class="text-dark title">Dashboard</span>
      <p>Summary & Overview</p>
    </div>
    <div class="col-md-6">
      <section class="row">
        <div class="col-md-8">
          <input
            type="text "
            name="search"
            placeholder="Search...."
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <input type="submit" value="Search" class="btn btn-primary" />
        </div>
      </section>
    </div>
  </section>
  <br />
  <section class="row">
    <div class="col-md-6">
      <mat-card class="example-card1">
        <mat-card-title-group>
          <mat-card-title>{{httpdata2.count}}</mat-card-title>
          <mat-card-subtitle>{{httpdata2.name}}</mat-card-subtitle>
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>downloads</mat-icon>
          </button>
        </mat-card-title-group>
        <mat-card-content>
          <p>Employee rate report as %</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="example-card2">
        <mat-card-title-group>
          <mat-card-title>120k</mat-card-title>
          <mat-card-subtitle>Downloads</mat-card-subtitle>
          <button
            mat-fab
            color="primary"
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon>storefront</mat-icon>
          </button>
        </mat-card-title-group>
        <mat-card-content>
          <p>Employee rate report as %</p>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  <section>
    <div class="row mt-3">
      <div class="col-md-6">
        <mat-card class="example-card3">
          <mat-card-title-group>
            <mat-card-title>{{httpdata.count}}</mat-card-title>
            <mat-card-subtitle>{{httpdata.name}}</mat-card-subtitle>
            <button
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>people</mat-icon>
            </button>
          </mat-card-title-group>
          <mat-card-content>
            <p>Employee rate report as %</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card class="example-card4">
          <mat-card-title-group>
            <mat-card-title>16k</mat-card-title>
            <mat-card-subtitle>Downloads</mat-card-subtitle>
            <button
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>devices</mat-icon>
            </button>
          </mat-card-title-group>
          <mat-card-content>
            <p>Employee rate report as %</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-md-6">
        <div class="chart-wrapper">
          <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
          </canvas>
          </div>
      </div>
    </div>
  </section>
</div>
