<!-- we create a list  of side nav items -->
<mat-nav-list>
  <div class="logo">
    <img src="/assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="applications">APPLICATIONS</h2>
  <a href="" mat-list-item routerLink="/dashboard">
    <mat-icon>home</mat-icon>Dashboard
  </a>
  <a href="" mat-list-item routerLink="/employees">
    <mat-icon>nature_people</mat-icon>My Employees
  </a>
  <a href="" mat-list-item routerLink="/add">
    <mat-icon>supervisor_account</mat-icon>Add Employee
  </a>
  <a href="" mat-list-item> <mat-icon>add</mat-icon>Add Task </a>
  <a href="" mat-list-item> <mat-icon>view_agenda</mat-icon>View Task </a>
  <a href="" mat-list-item> <mat-icon>view_agenda</mat-icon>Reports </a>

  <mat-divider></mat-divider>
  <h2 matSubheader class="applications">Communicate</h2>
  <a href="" mat-list-item> <mat-icon>help</mat-icon>Help </a>
</mat-nav-list>

<!-- backup this code -->
<!-- create a CRUD app, -->
<!-- come up with a project -CRUD - dashboard -->
